---
---

/* variables */

$gf-red:  #CA4443;
$gf-background-red: $gf-red;
$dark-red: #B03B3B;
$light-red: #FFDAD9;
$orchard-purple: #8d1767;
$orchard-purple-light: lighten($orchard-purple, 10%);
$dark-green: #769271;
$light-green: #E4FDCB;
$text: #43464c;
$landing-light: #E6D9D9;
$paragraph: #777A7A;
$text-light: rgba(255,255,255,0.7);
$panel: rgba(245,246,248,0.57);

$navbar-height: 7.5rem;

/* prevent empty columns from colapsing */
.column, .columns {
    min-height: 1px;
}
.container {
   max-width: 1260px;
}
html, body {
    height: 100%;
}
body {
    font-size: 1.2em;
    color: $text;
}
.align-text-center {
    text-align: center;
}
h1 {
    font-weight: bold;
}
p {
    color: $paragraph;
}
.bold {
    font-weight: bold;
}
.text-weight-light {
    font-weight: 200;
}
.extra-big {
    font-size: 5rem;
}
.no-m-p {
    margin: 0;
    padding: 0;
}
.upper {
    text-transform: uppercase;
}
.section {
    background: #fff;
}
.panel {
    background: $panel;
    border: 1px solid #eeeeee;
}
.text-header {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

a, .button {
    color: #555;
    text-decoration: none;
}
a:hover, .button:hover {
 color: #222;
}

.image-content {
    background-image: url("../images/content.png");
}
.image-homework {
    background-image: url("../images/homework.png");
}
.image-analytics {
    background-image: url("../images/analytics.png");
}
.image-informed {
    background-image: url("../images/informed.png");
}
.image-interaction {
    background-image: url("../images/interaction.png");
}
.image-connected {
    background-image: url("../images/connected.png");
}
.image-backup {
    background-image: url("../images/orchard/backup.png");
}
.image-support {
    background-image: url("../images/orchard/support.png");
}
.image-features {
    background-image: url("../images/orchard/features.png");
}
.image-heart {
    background-image: url("../images/orchard/heart.png");
}

@import 'navbar';
@import 'mobile';
@import 'tablet';
@import 'desktop';
@import 'footer';
@import 'home/home';
@import 'blog/blog';
