/* prevent empty columns from colapsing */
.column, .columns {
  min-height: 1px; }

.container {
  /* max-width: 800px; */ }

.section {
  border-bottom: 12px solid #CA4443; }

.logo {
  padding: 1.7rem;
  width: 15rem; }

a, .button {
  color: #555;
  text-decoration: none; }

a:hover, .button:hover {
  color: #222; }

/* Navbar */
.navbar {
  border-top-width: 0; }

.navbar,
.navbar-spacer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: none;
  border: none; }

.navbar-spacer {
  display: none; }

.navbar-border {
  border-bottom: 1px solid #eee; }

.navbar-list {
  list-style: none;
  margin-bottom: 0; }

.navbar-item {
  display: none;
  position: relative;
  float: left;
  margin-bottom: 0; }

.menu-button {
  display: block;
  padding: 1.7rem; }

#menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.98); }

#menu-mobile ul {
  margin: 0; }

#menu-mobile.open {
  display: block; }

.menu-button img {
  width: 4rem; }

#menu-mobile ul {
  list-style-type: none;
  font-size: 6rem;
  font-weight: 900;
  padding: 4rem; }

#menu-mobile a {
  text-decoration: none;
  color: #222; }

#menu-mobile a:hover {
  text-decoration: underline;
  color: #B03B3B; }

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 7.5rem;
  color: #222; }

.navbar-link.active {
  color: #33C3F0; }

.navbar-link:hover {
  color: #B03B3B; }

.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.has-docked-nav .navbar-spacer {
  display: block; }

.has-docked-nav .navbar-link {
  color: #222; }

.has-docked-nav .navbar-link:hover {
  color: #B03B3B; }

#landing-area {
  padding-top: 12rem; }
  #landing-area .image {
    margin: auto;
    display: block;
    width: 30rem; }
  #landing-area .text-large {
    font-size: 3rem;
    text-align: center; }
  #landing-area .buttons {
    display: block;
    clear: both;
    text-align: center; }
    #landing-area .buttons .button {
      /* Rectangle 7: */
      border: 5px solid #CA4443;
      border-radius: 21px;
      font-size: 12px;
      line-height: 19px;
      height: 6rem; }
    #landing-area .buttons button:hover {
      border-color: #B03B3B;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
    #landing-area .buttons .light-red {
      background: #FFDAD9; }
  #landing-area #open-source-notice {
    padding: 7rem 0rem; }
    #landing-area #open-source-notice .text-small {
      text-align: center; }

#why-grapefruit {
  padding: 7rem 0rem; }
  #why-grapefruit .text-header {
    font-size: 6rem;
    font-weight: bold;
    text-align: center; }
  #why-grapefruit .divider {
    width: 50%;
    border-bottom: 1px solid #CA4443;
    padding: 5rem 0rem; }
  #why-grapefruit .mini-divider {
    width: 30%;
    border-bottom: 1px solid #CA4443;
    padding: 5rem 0rem; }
  #why-grapefruit .title-block {
    padding: 7rem 0rem; }
    #why-grapefruit .title-block .image {
      display: block;
      margin: 0 auto;
      width: 8rem; }
    #why-grapefruit .title-block .text {
      font-size: 3rem;
      font-weight: 200;
      text-align: center; }
  #why-grapefruit .more-info {
    padding: 4rem 0rem;
    display: block;
    margin: 0 auto;
    text-align: center; }
    #why-grapefruit .more-info button {
      text-transform: uppercase;
      /* Rectangle 7: */
      border: 3px solid #CA4443;
      border-radius: 21px;
      font-size: 1rem;
      font-weight: bold;
      height: 4rem;
      line-height: 19px; }
    #why-grapefruit .more-info button:hover {
      border-color: #B03B3B;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

#take-a-tour {
  padding: 7rem 0rem; }
  #take-a-tour .text-header {
    font-size: 6rem;
    font-weight: bold;
    text-align: center; }
  #take-a-tour .divider {
    width: 50%;
    border-bottom: 1px solid #CA4443;
    padding: 5rem 0rem 5rem 0rem;
    margin-bottom: 5rem; }
  #take-a-tour .mini-divider {
    width: 30%;
    border-bottom: 1px solid #CA4443;
    padding: 5rem 0rem; }
  #take-a-tour .example {
    padding: 5rem; }
    #take-a-tour .example .title {
      font-size: 2rem;
      font-weight: bold;
      color: #D0021B;
      line-height: 29px; }
    #take-a-tour .example .screenshot {
      width: 100%;
      margin-left: -1rem; }

#grapefruit-orchard {
  padding: 7rem 0rem; }
  #grapefruit-orchard .image-header {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30rem;
    margin-top: 7rem;
    margin-bottom: 3rem; }
  #grapefruit-orchard .text-header {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-left: -0.7rem; }
  #grapefruit-orchard .text-gf {
    color: #CA4443;
    font-size: 3.5rem; }
  #grapefruit-orchard .vertical-divider {
    font-weight: 100; }
  #grapefruit-orchard .text-o {
    font-family: MinionPro-Regular;
    color: #8AAC85;
    letter-spacing: 2.59px;
    line-height: 86px; }
  #grapefruit-orchard .divider {
    width: 50%;
    border-bottom: 1px solid #CA4443;
    padding: 5rem 0rem 5rem 0rem;
    margin-bottom: 5rem; }
  #grapefruit-orchard .mini-divider {
    width: 30%;
    border-bottom: 1px solid #CA4443;
    padding: 5rem 0rem; }
  #grapefruit-orchard .text-large {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 6rem; }
  #grapefruit-orchard .text-small {
    font-size: 2rem;
    font-weight: 200;
    text-align: center; }
  #grapefruit-orchard .spaced {
    line-height: 4rem; }
  #grapefruit-orchard .underlined {
    text-decoration: underline; }
  #grapefruit-orchard .light {
    color: #C4C9C7; }
  #grapefruit-orchard .o-green {
    color: #8AAC85; }
  #grapefruit-orchard .orchard-explaination {
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 3rem; }
  #grapefruit-orchard .orchard-talk {
    padding-top: 10rem; }
    #grapefruit-orchard .orchard-talk .text-large {
      padding-bottom: 0; }
  #grapefruit-orchard .buttons {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 3rem; }
    #grapefruit-orchard .buttons .button {
      /* Rectangle 7: */
      border: 5px solid #CA4443;
      border-radius: 21px;
      font-size: 12px;
      line-height: 19px;
      height: 6rem;
      margin: 5px; }
    #grapefruit-orchard .buttons button:hover {
      border-color: #B03B3B;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
    #grapefruit-orchard .buttons .orchard {
      border-color: #8AAC85;
      background: #E4FDCB; }
    #grapefruit-orchard .buttons .orchard:hover {
      border-color: #769271; }

.item-block {
  margin-top: 3rem;
  margin-left: 15%;
  margin-bottom: 5rem;
  color: #222;
  background-repeat: no-repeat;
  background-size: 5rem;
  padding-left: 70px;
  width: 50%; }
  .item-block .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem; }
  .item-block .text {
    font-size: 1rem;
    font-weight: 200; }

.no-offset {
  background-position: 0px 0px;
  background-size: 6rem; }

.image-content {
  background-image: url("../images/content.png"); }

.image-homework {
  background-image: url("../images/homework.png"); }

.image-analytics {
  background-image: url("../images/analytics.png"); }

.image-informed {
  background-image: url("../images/informed.png"); }

.image-interaction {
  background-image: url("../images/interaction.png"); }

.image-connected {
  background-image: url("../images/connected.png"); }

.image-backup {
  background-image: url("../images/orchard/backup.png"); }

.image-support {
  background-image: url("../images/orchard/support.png"); }

.image-features {
  background-image: url("../images/orchard/features.png"); }

.image-heart {
  background-image: url("../images/orchard/heart.png"); }

.item-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .2rem; }

#footer {
  /* padding: 5rem 20rem 0rem 20rem; */
  padding: 1rem;
  background: #CA4443;
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem; }
  #footer .copyright {
    text-align: center; }
    #footer .copyright span {
      display: block;
      clear: both; }
  #footer .links {
    text-align: center; }
    #footer .links a {
      padding: 0;
      padding-right: 1rem;
      margin: 0;
      color: #fff;
      text-decoration: none; }

/* Larger than phone */
/* Larger than tablet */
@media (min-width: 950px) {
  .navbar-item {
    display: block; }

  .menu-button {
    display: none; }

  #take-a-tour {
    padding: 7rem 0rem; }
    #take-a-tour .text-header {
      font-size: 6rem;
      font-weight: bold;
      text-align: center; }
    #take-a-tour .divider {
      width: 50%;
      border-bottom: 1px solid #CA4443;
      padding: 5rem 0rem 5rem 0rem;
      margin-bottom: 25rem; }
    #take-a-tour .mini-divider {
      width: 30%;
      border-bottom: 1px solid #CA4443;
      padding: 5rem 0rem; }
    #take-a-tour .example {
      padding: 0;
      margin-top: -15rem; }
      #take-a-tour .example .title {
        font-size: 2rem;
        font-weight: bold;
        color: #D0021B;
        line-height: 29px; }
      #take-a-tour .example .screenshot {
        width: 100%;
        margin-left: -1.5rem; }
      #take-a-tour .example .text {
        margin-top: -2rem; }

  #grapefruit-orchard {
    padding: 7rem 0rem; }
    #grapefruit-orchard .image-header {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 30rem;
      margin-top: 7rem;
      margin-bottom: 3rem; }
    #grapefruit-orchard .text-header {
      font-size: 6rem;
      font-weight: bold;
      text-align: center;
      margin-left: -3rem; }
    #grapefruit-orchard .text-gf {
      color: #CA4443;
      font-size: 5.5rem; }
    #grapefruit-orchard .vertical-divider {
      font-weight: 100;
      color: #666666; }
    #grapefruit-orchard .text-o {
      font-family: MinionPro-Regular;
      color: #8AAC85;
      letter-spacing: 2.59px;
      line-height: 86px; }
    #grapefruit-orchard .divider {
      width: 50%;
      border-bottom: 1px solid #8AAC85;
      padding: 5rem 0rem 5rem 0rem;
      margin-bottom: 5rem; }
    #grapefruit-orchard .mini-divider {
      width: 30%;
      border-bottom: 1px solid #CA4443;
      padding: 5rem 0rem; }

  .item-block {
    color: #222;
    background-repeat: no-repeat; }
    .item-block .title {
      text-transform: uppercase; }
    .item-block .text {
      font-weight: 200; }

  #footer {
    /* padding: 5rem 20rem 0rem 20rem; */
    padding: 1rem;
    background: #CA4443;
    color: #fff;
    text-decoration: none;
    font-size: 0.5rem; }
    #footer .copyright span {
      padding-left: 3rem;
      float: left;
      display: inline;
      clear: inherit; }
    #footer .links {
      float: right; }
      #footer .links a {
        padding: 0;
        padding-right: 1rem;
        margin: 0;
        color: #fff;
        text-decoration: none; } }

/*# sourceMappingURL=main.css.map */
