---
layout: default
---
{% include blog/landing.html %}
<div class="posts">
    {% for post in site.posts %}
    <div class="row post">
        <div class="six columns">
            <img class="image" src="{{ post.image }}"/>
        </div>
        <div class="six columns content">
            <h3 class="title">{{ post.title }}</h3>
            <p class="excerpt">{{ post.excerpt }}</p>
            <a class="continue-reading" href={{ post.url }}>CONTINUE READING ></a>
        </div>
    </div>
    <div class="divider"></div>
    {% endfor %}
</div>

