<div id="features" class="section">
    <div class="container">
        <h1 class="align-text-center bold extra-big">Features</h1>
        <div class="divider"></div>
        <div class="row">
            <div class="six columns example">
                <h6 class="title">Creating Content</h6>
                <img class="screenshot" src="images/screenshot1.png"/>
                <p>Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions.</p>
            </div>
            <div class="six columns example">
                <h6 class="title">Grading Assignments</h6>
                <img class="screenshot" src="images/screenshot1.png"/>
                <p>Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions.</p>
            </div>
        </div>
        <div class="row">
            <div class="six columns example">
                <h6 class="title">Student Discusssions</h6>
                <img class="screenshot" src="images/screenshot1.png"/>
                <p>Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions.</p>
            </div>
            <div class="six columns example">
                <h6 class="title">Video Lectures</h6>
                <img class="screenshot" src="images/screenshot1.png"/>
                <p>Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions. Intuitively create course content including video lectures, readings, and live discussions.</p>
            </div>
        </div>
    </div>
</div>
