<footer class="site-footer">

    <div class="wrapper">

        <div id="footer" class="section">
            <div class="container">
                <div class="copyright">
                    <span>&copy; 2015 The Grapefruit Company</span>
                </div>
                <div class="links">
                    <span><a class="link" href="mailto:hello@grapefruit.school">Contact</a></span>
                    <span><a class="link" href="mailto:hello@grapefruit.school">Press</a></span>
                    <span><a class="link" href="http://grapefruit.school/careers.html">Careers</a></span>
                    <span><a class="link" href="http://grapefruit.school/network.html">Educators Network</a></span>
                    <span><a class="link" href="javascript:alert('Coming soon!')">ToS</a></span>
                </div>
            </div>
        </div>


    </div>

</footer>
