<footer class="site-footer">

    <div class="wrapper">

        <div id="footer" class="section">
            <div class="container">
                <div class="copyright">
                    <span>&copy; The 2015 Grapefruit Foundation</span>
                    <span>Created with ♥ by the Grapefruit Team.</span>
                </div>
                <div class="links">
                    <span><a href="#">Contact</a></span>
                    <span><a href="#">Contribute</a></span>
                    <span><a href="#">Jobs</a></span>
                    <span><a href="#">ToS</a></span>
                    <span><a href="#">Changelog</a></span>
                </div>
            </div>
        </div>

    </div>

</footer>
