<footer class="site-footer">

    <div class="wrapper">

        <div id="footer" class="section">
            <div class="container">
                <div class="copyright">
                    <span>&copy; 2015 The Grapefruit Foundation</span>
                </div>
                <div class="links">
                    <span><a href="mailto:hello@grapefruit.link">Contact</a></span>
                    <span><a href="http://cloud.grapefruit.link/contribute">Contribute</a></span>
                    <span><a href="mailto:hello@grapefruit.link">Jobs</a></span>
                    <span><a href="javascript:alert('Coming soon!')">ToS</a></span>
                </div>
            </div>
        </div>


    </div>

</footer>
