<header class="site-header">

  <div class="wrapper">
    <div class="navbar-spacer"></div>
    <nav id="navbar" class="navbar navbar-clear">
      <div class="container">
        <div class="row">
          <a href="#landing-area"><img id="logo" class="logo" src="images/logo-caps.svg"></img></a>
          <ul class="navbar-list">
            <!-- navbar links only show on large desktop screen sizes -->
            <li class="navbar-item">
            <a class="navbar-link" href="http://blog.grapefruit.school" target="_blank">Blog &rarr;</a>
            </li>
            <li class="navbar-item">
            <a id="navbar-signin" class="navbar-link" href="#email-signup">Sign In</a>
            </li>
            <li class="navbar-item">
            <a id="navbar-features" class="navbar-link" href="#features">Features</a>
            </li>
            <li class="navbar-item">
            <a id="navbar-instructor-network" class="navbar-link text-special" href="#email-signup">Instructor Network</a>
            </li>
            <!-- menu button visible only on small mobile screen sizes -->
            <li class="navbar-item menu-button">
            <a class="" href="#">
              <img class="menu-button-image" src="images/menu-black.png"></img>
            </a>
            </li>
          </ul>
          <div id="menu-mobile" class="">
            <ul class="row">
              <li class="">
              <a class="mobilenav-link" href="#signin">Sign In</a>
              </li>
              <li class="">
              <a class="mobilenav-link" href="#features">Features</a>
              </li>
              <li class="">
              <a class="mobilenav-link" href="#instructor-network">Instructor Network</a>
              </li>
              <li class="">
              <a class="mobilenav-link" href="http://blog.grapefruit.school" target="_blank">Blog &rarr;</a>
              </li>
              <li class="">
              <a class="mobilenav-link" href="https://twitter.com/grapefruitcloud" target="_blank">Twitter &rarr;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

</header>
