<header class="site-header">

  <div class="wrapper">
    <div class="navbar-spacer"></div>
    <nav id="navbar" class="navbar navbar-clear">
      <div class="container">
        <div class="row">
          <a href="#landing-area"><img id="logo" class="logo" src="images/logo-caps.png"></img></a>
          <ul class="navbar-list">
            <!-- navbar links only show on large desktop screen sizes -->
            <li class="navbar-item">
              <a id="navbar-cloud" class="navbar-link" href="http://cloud.grapefruit.school">Grapefruit Cloud Login &rarr;</a>
            </li>
            <!-- menu button visible only on small mobile screen sizes -->
            <li class="navbar-item menu-button">
            <a class="" href="#">
              <img class="menu-button-image" src="images/menu-black.png"></img>
            </a>
            </li>
          </ul>
          <div id="menu-mobile" class="">
            <ul class="row">
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

</header>
