<header class="site-header">

    <div class="wrapper">
        <div class="navbar-spacer"></div>
        <nav id="navbar" class="navbar navbar-clear">
            <div class="">
                <div class="row">
                    <a href="#landing-area"><img id="logo" class="logo" src="images/grapefruit-logo-white.svg"></img></a>
                    <ul class="navbar-list u-pull-right">
                        <!-- navbar links only show on large desktop screen sizes -->
                        <li class="navbar-item">
                        <a class="navbar-link" href="#why-grapefruit">Why Grapefruit?</a>
                        </li>
                        <li class="navbar-item">
                        <a class="navbar-link" href="#features">Features</a>
                        </li>
                        <li class="navbar-item">
                        <a class="navbar-link" href="#grapefruit-orchard">Orchard</a>
                        </li>
                        <li class="navbar-item">
                        <a class="navbar-link" href="http://blog.grapefruit.link" target="_blank">Blog &rarr;</a>
                        </li>
                        <!-- menu button visible only on small mobile screen sizes -->
                        <li class="navbar-item menu-button">
                        <a class="" href="#">
                            <img id="menu-button-image" src="images/menu-white.png"></img>
                        </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- mobile nav overlay, toggled via navbar menu-button-->
            <div id="menu-mobile" class="">
                <!-- overlay a new logo and menu-button since navbar is covered -->
                <div class="row">
                    <a class="u-pull-left" href="#">
                        <a href="" name="top"></a>
                        <img id="logo" class="logo" src="images/grapefruit-logo.svg"></img>
                    </a>
                    <div class="menu-button u-pull-right">
                        <a class="" href="#">
                            <img id="menu-button-image" class="pull-right" src="images/menu-black.png"></img>
                        </a>
                    </div>
                </div>
                <ul class="row">
                    <li class="">
                    <a class="mobilenav-link" href="#why-grapefruit">Why Grapefruit?</a>
                    </li>
                    <li class="">
                    <a class="mobilenav-link" href="#features">Features</a>
                    </li>
                    <li class="">
                    <a class="mobilenav-link" href="#grapefruit-orchard">Orchard</a>
                    </li>
                    <li class="">
                    <a class="mobilenav-link" href="http://blog.grapefruit.link" target="_blank">Blog &rarr;</a>
                    </li>
                </ul>
            </div>


        </div>

    </header>
