<div id="landing-area" class="section">
    <div class="container">
        <!-- landing image and tagline -->
        <div class="row">
            <div class="two columns"></div>
            <div class="eight columns">
                <img class="large-logo" src="images/grapefruitlogo.png">
                <h1 class="align-text-center">A modern learning management system that <span class="text-weight-light"><i>actually</i></span> works.</h1>

            </div>
            <div class="two columns"></div>
        </div>
        <!-- buttons -->
        <div class="button-pair">
            <a href="#why-grapefruit">Why Grapefruit?</a>
            <a href="http://cloud.grapefruit.link" class="orchard">Orchard Login &rsaquo;</a>
        </div>
        <!-- two sentences explaining freedom -->
        <div id="open-source-notice">
            <p class="align-text-center">
            Grapefruit is and will always be <strong>100% free and open source</strong>.<br>
            This means that you can use, modify, or host Grapefruit anywhere in the entire universe.
            </p>
        </div>
    </div>
</div>
