<div id="orchard" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/orchard/orchard-logo.png">
            <h3 class="align-text-center title">Rather have us take care of everything?</h3>
            <p class="align-text-center blurb">The Grapefruit team offers a cloud hosted option. We take care of all the techincal details as well as provide additional services.We call it Grapefruit Orchard.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="item-block image-backup">
                        <h6 class="title">Backups</h6>
                        <p class="blurb">Intuitively create course content including video lectures, readings, and live discussions.</p>
                    </div>
                </div>
                <div class="six columns">
                    <div class="item-block image-support">
                        <h6 class="title">Support</h6>
                        <p class="blurb">Detailed reporting on student performance and feedback on course effectiveness.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="item-block image-features">
                        <h6 class="title">Features</h6>
                        <p class="blurb">Intuitively create course content including video lectures, readings, and live discussions.</p>
                    </div>
                </div>
                <div class="six columns">
                    <div class="item-block image-heart">
                        <h6 class="title">Appreciation</h6>
                        <p class="blurb">Detailed reporting on student performance and feedback on course effectiveness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orchard-pricing panel">
        <h4 class="align-text-center tagline">An Orchard subscription costs $19 per instructor, per month.<br>
            <span class="jab"><span class="underlined">Pennies</span> in comparison to Blackboard.</span>
        </h4>
    </div>
    <div class="container">
        <div class="title-block">
            <h1 class="align-text-center title">Talk to us about Orchard.</h1>
            <p class="align-text-center blurb">We guarantee a better experience. Your students will absolutely love you for migrating to a modern, beautiful and sustainable open platform. Feel free to ask us anything about the platform, we are always happy to help.</p>
            <div class="button-pair">
                <a href="#">Talk with Us</a>
                <a href="#" class="orchard">Get Orchard &Rang;</a>
            </div>
        </div>
    </div>
</div>
