<div id="grapefruit-orchard" class="section">
    <div class="container">
        <img class="orchard-logo" src="images/orchard/orchardlogo.png"/>
        <div class="divider purple"></div>
        <div class="orchard-explaination">
            <h1 class="align-text-center">Rather have us take care of everything?</h1>
            <p class="align-text-center">The Grapefruit team offers a cloud hosted option.<br>
            We take care of all the techincal details as well as provide additional services.<br>
            We call it Grapefruit <span class="orchard-purple">Orchard</span>.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="item-block image-backup">
                        <h6>Backups</h6>
                        <p>Intuitively create course content including video lectures, readings, and live discussions.</p>
                    </div>
                </div>
                <div class="six columns">
                    <div class="item-block image-support">
                        <h6>Support</h6>
                        <p>Detailed reporting on student performance and feedback on course effectiveness.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="item-block image-features">
                        <h6>Features</h6>
                        <p>Intuitively create course content including video lectures, readings, and live discussions.</p>
                    </div>
                </div>
                <div class="six columns">
                    <div class="item-block image-heart">
                        <h6>Appreciation</h6>
                        <p>Detailed reporting on student performance and feedback on course effectiveness.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="orchard-pricing">
            <h4 class="align-text-center">An Orchard subscription costs $19 per instructor, per month.<br>
                <span class="light"><span class="underlined">Pennies</span> in comparison to Blackboard.</span>
            </h4>
        </div>
        <div class="orchard-talk">
            <h1 class="align-text-center">Talk to us about Orchard.</h1>
            <p class="align-text-center light">(Your students will love you for it.)</p>
            <div class="button-pair">
                <a href="#">Talk with Us</a>
                <a href="#" class="orchard">Get Orchard &Rang;</a>
            </div>
        </div>
    </div>
</div>
