<div id="why-grapefruit" class="section">
    <div class="container">
        <h1 class="align-text-center bold extra-big">Why Grapefruit?</h1>
        <div class="divider"></div>

        <!-- instructor information -->

        <div class="title-block">
            <img class="icon" src="images/teacher.png">
            <h1 class="align-text-center">Powerful Features for Instructors</h1>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="item-block image-content">
                    <h6>Content</h6>
                    <p>Intuitively create course content including video lectures, readings, and live discussions.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-homework">
                    <h6>Assignments</h6>
                    <p>Assign smart homework with question generators and automatic grading.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-analytics">
                    <h6>Analytics</h6>
                    <p>Detailed reporting on student performance and feedback on course effectiveness.</p>
                </div>
            </div>
        </div>
        <button class="more-info-button">Instructor Experience</button>

        <!-- student information -->

        <div class="title-block">
            <img class="icon" src="images/student.png">
            <h1 class="align-text-center">Wholesome Student Experience</h1>
        </div>
        <div class="row">
            <div class="four columns">
                <div class="item-block image-informed">
                    <h6>Informed</h6>
                    <p>All your grades and work live inside grapefruit and are displayed intuitively.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-interaction">
                    <h6>Interaction</h6>
                    <p>Discuss with classmates in realtime, get feedback from your professors and more.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-connected">
                    <h6>Multiplatform</h6>
                    <p>View content across all devices on the web and with native apps.</p>
                </div>
            </div>
        </div>
        <button class="more-info-button">Student Experience</button>
    </div>
</div>
