@media (min-width: 950px) {
    html, body {
        font-size: 0.5em;
    }
    .title-block {
        .icon {
            padding-bottom: 1.5rem;
        }
        .title {
            font-size: 4.0rem;
        }
        .blurb {
            width: 50%;
            padding-bottom: 3rem;
            font-size: 2.5rem;
        }
    }
    .panel {
        padding: 2rem;
    }
    .item-block {
        margin-left: 15%;
        background-size: 5rem;
        .blurb {
            font-size: 1.8rem;
        }
    }
    .button-pair {
        a {
            font-size: 1.8rem;
            margin: 0.5rem;
        }
    }
    .item-block {
        margin-left: 15%;
    }

}
