html {
    // font-size: 2em;
}
.title-block {
    padding: 5rem 0rem 3rem 0rem;
    // display: block;
    // margin: 0 auto;
    .icon {
        display: block;
        margin: 0 auto;
        width: 5rem;
        padding-bottom: 1rem;
    }
    .title {
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .blurb {
        display: block;
        margin: 0 auto;
        font-size: 1.4rem;
    }
    .learn-more {
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        color: #CA4443;
        line-height: 16px;
        padding-bottom: 3rem;
    }
}
.item-block {
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 0rem;
    margin-bottom: 3rem;
    min-height: 5rem;
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 9px 9px;
    padding-left: 70px;
    width: 70%;
    .title {
        font-weight: 600;
        letter-spacing: 0.05rem;
        font-size: 2.3rem;
        margin-bottom: 0.4rem;
        padding-bottom: 0;
    }
    .blurb {
        font-size: 1.2rem;
        font-weight: 400;
    }
}
.divider {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    border-bottom: 1px solid #eeeeee;

}

/* styling for button pairs */
.button-pair {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 7rem;
    a {
        margin: 0.8rem 0.8rem 0.8rem 0rem;
        display: inline-block;
        border-radius: 4px;
        padding: 1em 1.4em;
        font-size: 1em;
        line-height: 1.7em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        border: 1px solid #fff;
        background-color: $gf-red;
    }
    a:hover {
        background-color: darken($gf-red,10%);
    }
    a.orchard:hover{
      font-weight: 600;
      background-color: darken($orchard-purple-light, 10%);
    }
    a.orchard{
      border-color: $orchard-purple-light;
      background-color: $orchard-purple-light;
      color: #fff;
    }
}
.full-height {
    height: 100%;
}


