.title-block {
    padding: 5rem 0rem 1rem 0rem;
    // display: block;
    // margin: 0 auto;
    .icon {
        display: block;
        margin: 0 auto;
        width: 5rem;
        padding-bottom: 1rem;
    }
    .title {
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .blurb {
        display: block;
        margin: 0 auto;
    }
    .learn-more {
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        color: #CA4443;
        line-height: 16px;
        padding-bottom: 3rem;
    }
}
.item-block {
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 0rem;
    margin-bottom: 5rem;
    min-height: 5rem;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: 9px 9px;
    padding-left: 70px;
    width: 70%;
    .title {
        font-weight: 400;
        letter-spacing: 0.05rem;
        font-size: 2.6rem;
        margin-bottom: 0.4rem;
        padding-bottom: 0;
    }
    .blurb {
        font-size: 1.4rem;
        font-weight: 400;
    }
}
.divider {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    border-bottom: 1px solid #eeeeee;

}

/* styling for button pairs */
.button-pair {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 7rem;
    a {
        margin: 0.8rem 0.8rem 0.8rem 0rem;
        display: inline-block;
        border-radius: 4px;
        padding: 1em 1.4em;
        font-size: 1em;
        line-height: 1.7em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        border: 1px solid #fff;
    }
    a:hover {
        background-color: $gf-red;
    }
    a.orchard{
      background-color: #fff;
      font-weight: 600;
      color: darken($gf-background, 30%);
    }
    a.orchard:hover{
      border-color: $orchard-purple-light;
      background-color: $orchard-purple-light;
      color: #fff;
    }
}
.full-height {
    height: 100%;
}

.features {
    padding: 0rem 1rem 0rem 1rem;
    min-height: 400px;
    overflow: hidden;
    .list {
        padding-bottom: 1rem;
        .feature {
            color: #CA4443;
            border: 2px solid #F18C8B;
            border-radius: 4px;
            padding: 0.5rem 0.8rem;
            margin: 0.3rem;
            display: inline-block;
        }
    }
    .blurb {
        margin: 0.3rem;
        padding-bottom: 0.5rem;
    }
    .screenshot {
        width: 100%;
        margin-bottom: -5rem;
        // z-index: -3;
        overflow: hidden;
        &.show {
            visibility: inherit;
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
        }
    }


    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}
