/*** Navbar ***/

.navbar {
  border-top-width: 0;
}
.navbar,
.navbar-spacer {
  display: block;
  position: fixed;
  top:0;left:0;
  width: 100%;
  height: $navbar-height;
  z-index: 9999;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: none;
  border: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.shrink {
    .logo {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding-top: 0.3rem;
      opacity: 0.9;
      &.logo-jobs {
        padding-top: 0.4rem;
      }
      &:hover {
        opacity: 1;
      }
    }
    .navbar-link {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      line-height: 4.6rem;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }

    .menu-button {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding-top: 0.3rem;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }

  }

}
.navbar-spacer {
  display: none;
}
.logo {
  padding: 1.7rem;
  width: 15rem;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.logo-jobs {
    padding-top: 1.9rem;
  }
}
.navbar-border {
  border-bottom: 1px solid #eee;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;

}
.navbar-item {
  display: none;
  position: relative;
  float: left;
  margin-bottom: 0;
}
.menu-button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  padding: 1.7rem;
}
#menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background:rgba(255,255,255,0.98);
}
#menu-mobile ul {
  margin: 0;
}
#menu-mobile.open {
  display: block;
}
.menu-button img {
  width: 4rem;
}
#menu-mobile ul {
  list-style-type: none;
  font-size: 4rem;
  font-weight: 900;
  padding: 4rem;
}
#menu-mobile a {
  text-decoration: none;
  color: #222;
}
#menu-mobile a:hover {
  text-decoration: underline;
  color: $dark-red;
}
.navbar-link {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 7.5rem;
}

.navbar-link.active {
  color: #33C3F0;
}
.navbar-link:hover {
  color: $dark-red;
}
.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}
.has-docked-nav {
  // box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.has-docked-nav .navbar-spacer {
  display: block;
}
.has-docked-nav .navbar-link {
  color: $text;
  &.navbar-current {
    color: $gf-background;
    text-decoration: underline;
  }
}
.has-docked-nav .navbar-link:hover {
  color: $dark-red;
}
.shrink {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 4.5rem;
}
@media (min-width: 950px) {
  .navbar-item {
    display: block;
  }
  .menu-button {
    display: none;
  }
}
