/* Larger than phone */
@media (min-width: 550px) {
    body {
        font-size: 1.8em;
    }
    .title-block {
        padding: 25rem 0rem 5rem 0rem;
        .icon {
            width: 9rem;
        }
        .learn-more {
            font-size: 1.4rem;
        }
    }
    .item-block {
        padding-left: 80px;
        background-size: 4rem;
        margin-bottom: 3rem;
    }

}


