/* Larger than phone */
@media (min-width: 550px) {
    body {
        font-size: 1.8em;
    }
    .title-block {
        padding: 9rem 0rem 1rem 0rem;
        .icon {
            width: 9rem;
        }
        .learn-more {
            font-size: 1.4rem;
        }
    }
    .item-block {
        padding-left: 80px;
    }
    .features {
        .list {
            width: 80%;
            display: block;
            margin: 0 auto;
            .feature {
                padding: 0.5rem 1rem;
                margin-left: 0;
            }
        }
        .blurb {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        .screenshot {
            margin-bottom: -10rem;
        }
    }
}
