<div id="blog-landing" class="section">
    <div class="container">
        <div class="title-block">
            <div class="divider"></div>
            <h1 class="align-text-center title">the grapefruit blog</h1>
            <div class="divider"></div>
        </div>
        <div class="categories">
            <a class="category" href="#">EDUCATION</a>
            <a class="category" href="#">ENGINEERING</a>
            <a class="category" href="#">DESIGN</a>
        </div>
    </div>
</div>
