#blog-landing {
    background: $gf-background-red;
    .title-block {
        padding-top: 15rem;
        padding-bottom: 9rem;
        .divider {
            display: block;
            margin: 0 auto;
            width: 20%;
            border-bottom: 2px solid #E6D9D9;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
        .title {
            color: #fff;
            padding: 0;
            font-weight: 600;
            font-size: 4rem;
        }
    }
    .categories {
        text-align: center;
        font-weight: 600;
        padding-bottom: 1rem;
        .category {
            padding: 9rem;
            color: #EBE7EC;
        }
    }
}
