.posts {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 8rem;
    overflow: auto;
    .post {
        // width: 50%;
        padding-top: 9rem;
        padding-bottom: 9rem;
        .content {
            .title {
                font-weight: bold;
                font-size: 3rem;
            }
            .excerpt {
                font-size: 2rem;
            }
        }
        .image {
        }
        .continue-reading {
            font-weight: bold;
        }
    }
    .divider {
        display: block;
        margin: 0 auto;
        border-bottom: 2px solid #eeeeee;
        width: 40%;
    }
}
