#landing-area {
    background: lighten($gf-red,15%);
    background: white;
    position: relative;
    &.full {
      min-height: 100vh;
      position: relative;
    }
    .main-content {
        padding-bottom: 10rem;
    }
    .large-logo {
        overflow: hidden;
        display: block;
        position: absolute;
        margin: 0 auto;
        top: 55%;
        left: 50%;
        -webkit-transform: translate(-50%,-10%);
        -ms-transform: translate(-50%,-10%);
        transform: translate(-50%,-10%);
        width: 100%;
        -webkit-mask-image: -webkit-gradient(linear, 50% 20%,50% 100%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)));
    }
    .information {
            display: block;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            top: 35%;
            width: 100%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            padding-top:20%;
            z-index: 5;
            .tagline {
                text-rendering: optimizelegibility;
                -webkit-font-smoothing: antialiased;
                font-size: 2.0rem;
                font-weight: 400;
                text-align: center;
                margin-bottom: 0rem;
                padding: 3rem 5rem;
            }
            .button-pair {
                float: none;
                display: block;
                margin: 0 auto;
                text-align: center;
                padding-top: 1rem;
                a {
                    margin-top: 0.8rem;
                    font-size: 1.0rem;
                }
            }
        }

    #open-source-notice {
        position: absolute;
        bottom: 2.5%;
        width: 100%;
        display: none;
        margin: 0 auto;
        padding: 8rem 0rem 0rem 0rem;

        font-size: 0.5rem;
        p {
            text-align: center;
            color: $landing-light;
            margin-bottom: 1.2rem;
        }
    }

}

@media (min-width: 550px) {
    #landing-area {
        .information {
            padding-top:0%;
            .tagline {
                font-size: 3.0rem;
            }
            .button-pair {
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media (min-width: 950px) {
    #landing-area {
        .large-logo {
            width: 80%;
        }
        .information {
            .tagline {
                font-size: 5.5rem;
            }
            .button-pair {
                a {
                    font-size: 2rem;
                }
            }
        }
        #open-source-notice {
            width: 100%;
            p {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
            }
        }

    }
}
