#landing-area {
    background: $gf-background-red;
    position: relative;
    padding-top: 15%;

    .full {
        height: calc(100vh - 7.5rem);
        height: -moz-calc(100vh - 7.5rem);
        height: -webkit-calc(100vh - 7.5rem);
        height: -o-calc(100vh - 7.5rem);
        height: calc(100vh - 7.5rem);
        // min-height: 100%;
    }
    .main-content {
        padding-bottom: 10rem;
    }
    .large-logo {
        margin: auto;
        opacity: 0.4;
        // position:absolute;
        display: none;
        text-align: center;
        width: 70%;
        left: 0;
        top: 5%;
        padding-right: 0;
        padding-top: 6rem;
    }

    .information {
        padding-top: 20%;
        display: block;
        .tagline {
            padding: 0;
            margin: 0;
            font-weight: 400;
            font-size: 2.5rem;
            color: $landing-light;
        }
        .button-pair {

            text-align: left;
            padding: 0;
            margin: 0;
            a {
                // width: 30%;
                // text-align: center;
                // font-size: 2em;
            }
        }
    }
    #open-source-notice {
        position: absolute;
        bottom: 2.5%;
        width: 90%;
        display: block;
        text-align: center;
        padding: 8rem 0rem 0rem 0rem;
        font-size: 1rem;
        p {
            color: $landing-light;
            margin-bottom: 1.2rem;
        }
    }

}

@media (min-width: 550px) {
    #landing-area {
        padding-top: 10%;
        .large-logo {
            // display: block;
        }
        .information {
            .tagline {
                font-size: 5rem;
            }
        }
    }
}
@media (min-width: 950px) {
    #landing-area {
        .full {
            height: calc(100vh - 23rem);
            height: -moz-calc(100vh - 20rem);
            height: -webkit-calc(100vh - 20rem);
            height: -o-calc(100vh - 20rem);
            min-height: inherit;
        }
        .large-logo {
            display: block;
            width: 90%;
            // bottom: 50%;
            // left: 7%;
            vertical-align: baseline;
        }

        .information {
            vertical-align: baseline;
            // bottom: 29.8%;
            // right: -5%;
            .tagline {
                font-size: 5.5rem;
            }
            .button-pair {
                padding-top: 1rem;
                font-size: 2.3rem;
            }
        }
        #open-source-notice {
            width: 100%;
            p {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
            }
        }

    }
}
