#orchard {

    .icon {
        width: 50%;
        padding-bottom: 3rem;
    }
    .underlined {
        text-decoration: underline;
    }
    .orchard-purple {
        color: $orchard-purple;
    }
    .orchard-pricing {
        margin-top: 5rem;
        padding: 4rem;
        .tagline {
            margin: 0;
        }
        .jab {
            font-size: 1.6rem;
            color: $paragraph;
        }
    }
    .button-pair {
        text-align: center;
        padding-bottom: 8rem;
        a {
            border-color: $gf-background;
            color: $gf-background;
        }
        a:hover{
          border-color: $gf-red;
          color: #fff;
        }
        a.orchard {
            background: $orchard-purple;
            border-color: $orchard-purple;
            color: #fff;
        }
        a.orchard:hover{
          border-color: $orchard-purple-light;
          background-color: $orchard-purple-light;
        }
    }

}

@media (min-width: 550px) {
    #orchard {
        .icon {
            width: 20rem;
        }
    }
}

@media (min-width: 950px) {
    #orchard {
        .orchard-pricing {
            .tagline {
                font-weight: 600;
            }
            .jab {
                font-weight: 400;
            }
        }
        .button-pair {
            padding-bottom: 8rem;
        }
    }
}
