#slider{

  p.description{
    text-align: center;
    margin-top: 1rem;
  }

  div.controls{
    text-align: center;
    button[disabled]{
      color: #ccc;
      &:hover{
        border: 1px solid #bbb;
      }
    }
  }

  div.shots {
    div, span{
      display: none;
      img{
        width: 90%;
        margin: 0 auto;
        display: block;
      }
    }
  }


}


@media (min-width: 550px) {
  #slider{
    p.description{
      max-width: 50%;
    }
    div.shots {
      img{
        width: 80%;
      }
    }
  }
}
