#sponsors {
    .sponsor {
        width: 100%;
        padding: 5rem 0rem;
    }
}

@media (min-width: 550px) {
    #sponsors {
        .sponsor {
            display: block;
            margin: 0 auto;
            width: 60%;
        }
    }
}
@media (min-width: 950px) {
    #sponsors {
        .sponsor {
            float: left;
            width: 20%;
            padding: 9rem 5rem;
        }
    }
}
