#why-grapefruit {
    position: relative;
    border-top: 0.2em solid lighten($gf-background, 20%);
    .macbook {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 550px) {
    #why-grapefruit {
        .macbook {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
}
@media (min-width: 950px) {
    #why-grapefruit {
    border-top: 0.8em solid lighten($gf-background, 20%);
        .macbook {
            width: 70%;
        }
    }
}
