#why-grapefruit {
    position: relative;
    .macbook {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

@media (min-width: 550px) {
    #why-grapefruit {
        .macbook {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
}
@media (min-width: 950px) {
    #why-grapefruit {
      border-top: 4em solid lighten($gf-background, 20%);
        .macbook {
            width: 70%;
        }
    }
}
