.logo-jobs {
  padding-left: 2.2rem;
  height: 3.5rem;
  width: inherit;
}
.navbar-jobs .navbar-link {
  color: #fff;
}
.has-docked-nav .navbar-jobs .navbar-link {
    color: #222;
}
#jobs-landing {
  background: $gf-red;
  .divider {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 5%;
    padding-top: 2rem;
    margin-bottom: 5rem;
    border-bottom: 2px solid #fff;
  }
  .title-block {
    padding-top: 15rem;
    padding-bottom: 4rem;
    .title {
      color: #fff;
      padding: 0;
      font-weight: 600;
      font-size: 4rem;
    }
    .blurb {
      text-align: center;
      color: #eee;
    }
  }

}
.jobs {
  font-size: 2rem;
  padding-top: 5rem;
  .job-list {
    padding-bottom: 15rem;
    .job {

      padding-top: 5rem;
      padding-bottom: 5rem;

      .title {

        font-weight: 800;
      }
      .blurb {
        color: #777A7A;
        font-weight: 400;
      }
      .description {

        padding-top: 1rem;
      }
    }

  }
}
