<div class="jobs container">
  <div class="job-list">
    <div class="row">
      <div class="six columns job">
        <div class="title">Education Research Fellow</div>
        <div class="blurb">Experimental Learning Projects</div>
        <div class="description">
          Lorem ipsum dolor sit amet, postea maluisset ius no, vim ancillae oportere intellegat an, saepe melius definitiones ad has. At nonumy dolorum cum, quo cu possit accumsan adolescens. Eum at eruditi delicata, ad quot offendit nam. Est et omnium molestiae. Vix ex doming alterum expetendis. Dolores suscipit ex eos, iisque conclusionemque ne eam.
        </div>
      </div>
      <div class="six columns job">
        <div class="title">Frontend Engineer</div>
        <div class="blurb">Isomorphism Evangelist Fanatic</div>
        <div class="description">
          Lorem ipsum dolor sit amet, postea maluisset ius no, vim ancillae oportere intellegat an, saepe melius definitiones ad has. At nonumy dolorum cum, quo cu possit accumsan adolescens. Eum at eruditi delicata, ad quot offendit nam. Est et omnium molestiae. Vix ex doming alterum expetendis. Dolores suscipit ex eos, iisque conclusionemque ne eam.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns job">
        <div class="title">Backend Engineer</div>
        <div class="blurb">Ruby and Elixir Expert</div>
        <div class="description">
          Lorem ipsum dolor sit amet, postea maluisset ius no, vim ancillae oportere intellegat an, saepe melius definitiones ad has. At nonumy dolorum cum, quo cu possit accumsan adolescens. Eum at eruditi delicata, ad quot offendit nam. Est et omnium molestiae. Vix ex doming alterum expetendis. Dolores suscipit ex eos, iisque conclusionemque ne eam.
        </div>
      </div>
      <div class="six columns job">
        <div class="title">Designer</div>
        <div class="blurb">User Experience Artist</div>
        <div class="description">
          Lorem ipsum dolor sit amet, postea maluisset ius no, vim ancillae oportere intellegat an, saepe melius definitiones ad has. At nonumy dolorum cum, quo cu possit accumsan adolescens. Eum at eruditi delicata, ad quot offendit nam. Est et omnium molestiae. Vix ex doming alterum expetendis. Dolores suscipit ex eos, iisque conclusionemque ne eam.
        </div>
      </div>
    </div>
  </div>
</div>
