<div class="jobs container">
  <div class="job-list">
    <div class="row">
      <div class="six columns job">
        <div class="title">Education Research Fellow</div>
        <div class="blurb">Experimental Learning Projects</div>
        <div class="description">
          We are looking for someone who is relentlessly pushing the boundaries of education. Preferably someone with experience in both academic research and classroom based experimentation. We are open to your ideas. The Grapefruit team needs someone who can constantly stimulate the environment with ideas and set excellent design goals.
        </div>
      </div>
      <div class="six columns job">
        <div class="title">Education Evangelist</div>
        <div class="blurb">Forward Deployed Advocate</div>
        <div class="description">
          We are looking for an evangelist who can embody everything that makes Grapefruit the best learning platform. You need to inform the world in the most compelling manner how effective Grapefruit truly is. Our evangelists must constantly be coming up with innovative ideas and programs we can use to make our efforts more impactful.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns job">
        <div class="title">Data Scientist</div>
        <div class="blurb">Machine Learning Developer</div>
        <div class="description">
          We are looking for someone focused on production level machine learning systems. As an education platform we have a large focus on analytics and data. We are constantly trying to take advantage of the large amounts of data we collect, experimenting with how to interpret the data and inform teachers with highly digestable data visualizations and indicators. If you are passionate about interpreting data and working closely with interface engineers this may just be your dream job.
        </div>
      </div>
      <div class="six columns job">
        <div class="title">Product Designer</div>
        <div class="blurb">User Experience and Image</div>
        <div class="description">
          Excellent design is integral to what makes Grapefruit the best platform. We are working hard to focus on quality of design and usability. We need someone who has great design ability and can help us take all the features our platform offers and unify them into a cohesive, simple experience. The designer will work closely with the rest of the team with fast, productive feedback and reviews.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six columns job">
        <div class="title">Frontend Engineer</div>
        <div class="blurb">Flux Architecture Expert</div>
        <div class="description">
          Our frontend is constantly evolving to be highly functional as well as maintainable. We work with React and Flux to build isomorphic, modular, performant interfaces. We are looking for someone passionate about frontend architectures who is not afraid to refactor and rewrite over and over. We are currently focusing much of our efforts on frontend quality as we move towards our big 2.0 release.
        </div>
      </div>
      <div class="six columns job">
        <div class="title">Software Engineer Intern</div>
        <div class="blurb">Passionate Tinkerer</div>
        <div class="description">
          We are open to engineering interns. If you are looking for an internship and are passionate about fixing education we may be the best place for you. There is a wide variety of opportunity to tinker and hack across our platform, from frontend to backend to data. Let us know what you are interested in working on.
        </div>
      </div>
    </div>
  </div>
  <div class="contact"><a class="button" href="mailto:hello@grapefruit.link">Send us a message with your resume or work!</a></div>
</div>
