<div id="jobs-landing" class="section">
  <div class="container">
    <div class="title-block">
      <!-- <div class="divider"></div> -->
      <h1 class="align-text-center title">jobs at grapefruit</h1>
      <div class="divider"></div>
      <div class="blurb">
        At Grapefruit we have a culture of experimentation, openness, and rigor. As a team, we push education forward while inspiring each other to constantly learn and tinker. We are building out the platform that will help shape peoples lives as the go through life learning from great instructors. If you feel like you fit into our company please check out who we are looking for.
      </div>
    </div>
  </div>
</div>
