<div id="jobs-landing" class="section">
  <div class="container">
    <div class="title-block">
      <!-- <div class="divider"></div> -->
      <h1 class="align-text-center title">jobs at grapefruit</h1>
      <div class="divider"></div>
      <div class="row">
        <div class="blurb">
          At Grapefruit we have a culture of experimentation, openness, and rigor. As a team, we inspire each other to push education forward with great ideas and hard work. We take not only education, but also engineering and design quality very seriously and do not settle for less than what is ideal. We are building a platform that helps people succeed as they go through life learning from great instructors. If you feel like you fit into our company please check out who we are looking for and <a href="mailto:hello@grapefruit.link">send us a message!</a>
        </div>
      </div>
    </div>
  </div>
</div>
