<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {% include landing.html %}
        {% include why.html %}
        <div class="divider"></div>
        {% include instructors.html %}
        <div class="divider"></div>
        {% include students.html %}
        <div class="divider"></div>
        {% include orchard.html %}
        <div class="divider"></div>
        {% include sponsors.html %}
    </div>

    {% include footer.html %}

  </body>

</html>
