<div id="features" class="features">
  <div class="feature container row">
    <div class="four columns">
      <h4>Activate Your Existing Material</h4>
      <p>Upload your existing powerpoints and turn them into interactive content in seconds. This is the perfect way to supplement the classroom and discover where your students have questions whether its after class or in realtime.<p>
    </div>
    <div class="eight columns feature-image-container">
      <img class="feature-image" src="images/features/powerpoint.png"/>
    </div>
  </div>
  <div class="feature-divider"></div>
  <div class="feature container row">
    <div class="four columns">
      <h4>Contextual Discourse</h4>
      <p>Copy and paste readings, information, or any other text, and get inline student feedback.<p>
    </div>
    <div class="eight columns feature-image-container">
      <img class="feature-image" src="images/features/text.png"/>
    </div>
  </div>
  <div class="feature-divider"></div>
  <div class="feature container row">
    <div class="six columns">
      <h4>Fully Searchable</h4>
      <p>Search by text, tags, even students. Search works across all your courses content and discussion, no matter where it first took place.<p>
    </div>
    <div class="six columns feature-image-container">
      <img class="feature-image" src="images/features/search.png"/>
    </div>
  </div>
  <div class="feature-divider"></div>
  <div class="feature container">
    <h4>Learn About Each Student</h4>
    <div class="row">
      <div class="six columns">
        <p>Learn exactly where your students struggle and succeed, figure out how they learn on an individual level in very little time. Tailor the way your teach.<p>
      </div>
      <div class="six columns">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns feature-image-container">
        <img class="feature-image" src="images/features/analytics-table.png"/>
      </div>
    </div>
  </div>
</div>
