<div class="features">
  <div class="container">
    <div class="title-block">
      <img class="icon" src="images/searching50.png">
      <h3 class="align-text-center title">Explore the platform</h3>
      <p class="align-text-center blurb">
      Grapefruit's design comes from months of testing instructor workflows.
      We're constantly making updates to the platform that professors and teachers love.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="container eighty">
      <div class="four columns">
          <div class="information">
        <div class="controls">
          <button data-shot="features-video" class="feature-button">Video Lectures</button>
          <button data-shot="features-course-manager" class="feature-button">Course Manager</button>
          <button data-shot="features-announcements" class="feature-button selected">Announcements</button>
          <button data-shot="features-assignments" class="feature-button">Assignments</button>
          <button data-shot="features-live-discussions" class="feature-button">Live Discussions</button>
          <button data-shot="features-discussion-forum" class="feature-button">Forums</button>
        </div>
        <div id="explaination" class="">
          <div class="features-video feature">
            <div class="text">Adding videos is easy - just type in a title and a description, and Grapefruit handles all of the heavy lifting. No external accounts required.</div>
          </div>
          <div class="features-course-manager feature">
            <div class="text">Edit capsules, lectures, text, documents, and video in the powerful Course Manager.</div>
          </div>
          <div class="features-announcements feature selected">
            <div class="text">Easily add announcements for everyone in a course to see - sending by email is optional.</div>
          </div>
          <div class="features-assignments feature">
            <div class="text">Create assignments with due dates, included files, and more. Grade all of your students on one page.</div>
          </div>
          <div class="features-live-discussions feature">
            <div class="text">Grapefruit's live lecture discussion supports web links, Twitter handles, YouTube video embedding, and much more.</div>
          </div>
          <div class="features-discussion-forum feature">
            <div class="text">Students and instructors can communicate in the discussion forum.</div>
          </div>
        </div>
        </div>
      </div>
      <div class="eight columns">
        <div id="screenshots">
          <div class="features-video feature">
            <img src="images/feature-pics/f1.png" />
          </div>
          <div class="features-course-manager feature">
            <img src="images/feature-pics/f2.png" />
          </div>
          <div class="features-announcements feature selected">
            <img src="images/feature-pics/f3.png" />
          </div>
          <div class="features-assignments feature">
            <img src="images/feature-pics/f4.png" />
          </div>
          <div class="features-live-discussions feature">
            <img src="images/feature-pics/f5.png" />
          </div>
          <div class="features-discussion-forum feature">
            <img src="images/feature-pics/f6.png" />
          </div>
        </div>
      </div>
      </div>

    </div>

  </div>
</div>
