<div id="instructors" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/teacher.png">
            <h3 class="align-text-center title">Powerful features for instructors</h3>
            <p class="align-text-center blurb">Assign smart homework with question generators and  other powerful automatic grading. Banana smart homework with question generators and automatic grading.</p>
        </div>
    </div>
    <div class="row panel">
        <div class="container">
            <div class="four columns">
                <div class="item-block image-content">
                    <h6 class="title">Content</h6>
                    <p class="blurb">Intuitively create course content including video lectures, readings, and live discussions.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-homework">
                    <h6 class="title">Assignments</h6>
                    <p class="blurb">Assign smart homework with question generators and automatic grading.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-analytics">
                    <h6 class="title">Analytics</h6>
                    <p class="blurb">Detailed reporting on student performance and feedback on course effectiveness.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="list">
            <span class="feature">Smart Homework</span>
            <span class="feature">Grading</span>
            <span class="feature">Course Builder</span>
            <span class="feature">Analytics</span>
            <span class="feature">Course Builder</span>
        </div>
        <p class="blurb">Detailed reporting on student performance and feedback on dback mad yodeling zombie reporting on student omatic gradion generators and automatic on course effectivenes. d yodeling zombie reporting on student  reports on african food on course effectiveness.</p>
        <img id="instructors-image" class="screenshot" src="images/screenshot1.png"/>
    </div>

</div>
