<div id="instructors" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/teacher.png">
            <h3 class="align-text-center title">Powerful features for instructors</h3>
            <p class="align-text-center blurb">
              Grapefruit's design comes from months of testing instructor workflows.
              We're constantly making updates to the platform that professors and teachers love.
            </p>
        </div>
    </div>
    <div class="row panel">
        <div class="container">
            <div class="four columns">
                <div class="item-block image-content">
                    <h6 class="title">Content</h6>
                    <p class="blurb">Intuitively create course content including video lectures, readings, and other materials.</p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-homework">
                    <h6 class="title">Assignments</h6>
                    <p class="blurb">
                      Assign homeworks, chapter reviews, and other work with due dates and easy submission.
                      Then grade all of your students on one page. It's a breeze.
                    </p>
                </div>
            </div>
            <div class="four columns">
              <div class="item-block image-connected">
                    <h6 class="title">Live Lecture Discussion</h6>
                    <p class="blurb">
                        Grapefruit gives your class live interactive collaboration during lectures,
                        which creates an awesomely unique teaching environment.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
      <div class="container">
          <div class="title-block">
              <h3 class="align-text-center title">Screenshots</h3>
          </div>
      </div>
        <div class="list">

        </div>
        <p class="blurb">
          Detailed reporting on student performance and feedback on dback mad yodeling zombie reporting on student omatic gradion generators and automatic on course effectivenes. d yodeling zombie reporting on student  reports on african food on course effectiveness.
        </p>
        <img id="instructors-image" class="screenshot" src="images/screenshot1.png"/>
    </div>

</div>
