<div id="instructors" class="section">
  <div class="container">
    <div id="features" class="title-block">
      <img class="icon" src="images/teacher.png">
      <h3 class="align-text-center title">Powerful features for instructors</h3>
      <p class="align-text-center blurb">
      Grapefruit's design comes from months of testing instructor workflows.
      We're constantly making updates to the platform that professors and teachers love.
      </p>
    </div>
  </div>
  <div class="row panel">
    <div class="container">
      <div class="four columns">
        <div class="item-block image-content">
          <h6 class="title">Content Creation</h6>
          <p class="blurb">Intuitively create course content including video lectures, readings, and other materials.</p>
        </div>
      </div>
      <div class="four columns">
        <div class="item-block image-homework">
          <h6 class="title">Smart Assignments</h6>
          <p class="blurb">
          Assign homeworks, chapter reviews, and other work with due dates and easy submission.
          Then grade all of your students on one page. It's a breeze.
          </p>
        </div>
      </div>
      <div class="four columns">
        <div class="item-block image-connected">
          <h6 class="title">Student Analytics</h6>
          <p class="blurb">
            Recieve personalized reports for each of your stuents.
            Learn where specifc students or even the whole class needs help.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
