<div>
  <div class="section">
    <h1></h1>
    <div class="row">
      <div class="six columns">
        <p>Upload your existing powerpoints and turn them into interactive content in seconds. This is the perfect way to supplement the classroom and discover where your students have questions whether its after class or in realtime.<p>
      </div>
      <div class="six columns feature-image-container">
        <img class="feature-image" src="images/screenshot.png"/>
      </div>
    </div>
  </div>
</div>
