<div id="landing-area" class="section full">
    <!-- <div class="container full"> -->
        <!-- landing image and tagline -->
        <!-- <div class="row main&#45;content"> -->
        <!-- <div class="six columns no&#45;m&#45;p"> -->
        <div class="information">
            <h1 class="tagline">The learning management system that works.</h1>
            <div class="button-pair">
                <a href="#why-grapefruit">Why Grapefruit?</a>
                <a href="http://cloud.grapefruit.link" class="orchard">Orchard Login &rsaquo;</a>
            </div>
                <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="six columns no&#45;m&#45;p"> -->
            <!-- </div> -->
        </div>
    <img class="large-logo" src="images/screenshot.png"/>
        <div id="open-source-notice">
            <p class="align-text-center">
            Grapefruit is and will always be <strong>100% free and open source</strong> on Github.<br>
            This means that you can use, modify, or host Grapefruit anywhere in the entire universe.
            </p>
        </div>
    <!-- </div> -->
</div>
