<div id="orchard" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/orchard/orchard-logo.png">
            <h3 class="align-text-center title">Rather have us take care of everything?</h3>
            <p class="align-text-center blurb">
              Let us handle all of the annoying technical work.
              With Grapefruit Orchard, we offer hosting, support, and additional services, at an extraordinarily competitive price.
              In the cloud, of course.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="item-block image-backup">
                        <h6 class="title">Backups</h6>
                        <p class="blurb">
                          We'll take hourly snapshots of your courses that you can download and access anytime.
                        </p>
                    </div>
                </div>
                <div class="six columns">
                    <div class="item-block image-support">
                        <h6 class="title">Support</h6>
                        <p class="blurb">
                          Get responsive and professional phone support from developers that can help you with anything from
                          usage questions to technical assistance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="item-block image-features">
                        <h6 class="title">No Tech Costs<br/> or Infrastructure</h6>
                        <p class="blurb">
                          Forget dealing with hosting providers, server configurations, or (worst of all)
                          administrative bureaucracy. We'll host your courses in the cloud and do all of the
                          heavy lifting for you.
                        </p>
                    </div>
                </div>
                <div class="six columns">
                    <div class="item-block image-heart">
                        <h6 class="title">Appreciation</h6>
                        <p class="blurb">
                          Get your name (or the name of your organization) on our supporters page! Also,
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orchard-pricing panel">
        <h4 class="align-text-center tagline">Grapefruit Orchard costs only $29 per instructor, per month.<br>
            <span class="jab">This is a rounding error compared to bloated proprietary LMSes like Blackboard!</span>
        </h4>
    </div>
    <div class="container">
        <div class="title-block">
            <h1 class="align-text-center title">Talk to us about Orchard.</h1>
            <p class="align-text-center blurb">
              We think you'll be really happy with it.
              Your students will absolutely love you for migrating to a modern, beautiful and sustainable open platform.
              Let's find the best solution for your school.
            </p>
            <div class="button-pair">
                <a href="mailto:hello@grapefruit.link" class="orchard">Talk with us about Orchard &Rang;</a>
            </div>
        </div>
    </div>
</div>
