<div id="email-signup" class="color-section">
  <div class="container row">
    <div class="eight columns offset-by-two">
      <h3 class="text-bold">The Future of Education Tools</h3>
      <p>Grapefruit is a team of the best engineers, designers, and educators. Our team has worked across a diverse set of disciplines at places like Google, Apple, Boeing, Nike, Watsi, Blackboard, and Harvard. Grapefruit’s mission is to finally bring the highest level of innovation to learning systems. Teachers have had to deal with dysfunctional tools for too long.<p>
      <p class="text-bold">Join our community of educators and pilot program, and help us make Grapefruit the best tool possible.</p>
      <input class="signup-input" placeholder="Provide your email"></input>
      <button class="signup-button">Join</button>
    </div>
  </div>
</div>
