<div id="sponsors" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/sponsors.png"/>
            <h3 class="align-text-center title">Our sponsors</h3>
            <p class="align-text-center blurb">Assign smart homework with question generators and will go on a wild journey through marshes ding. smart homework with question generators and automatic grading. smart homework with question.</p>
        </div>
        <img class="sponsor" src="images/sponsors/rcos.png"/>
        <img class="sponsor" src="images/sponsors/RedHat.png"/>
        <img class="sponsor" src="images/sponsors/doritos.png"/>
    </div>
</div>
