<div id="students" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/student.png">
            <h3 class="align-text-center title">Effortless student experience</h3>
            <p class="align-text-center blurb">
              Grapefruit was engineered by and for students. <br/>
              Get your professors to try out something simple and new.

            </p>
        </div>
    </div>
    <div class="row panel">
        <div class="container">
            <div class="four columns">
                <div class="item-block image-informed">
                    <h6 class="title">Simple Design</h6>
                    <p class="blurb">
                      Students can watch or read course content, submit assignments, and get connected with classmates.
                      All in one simple, easy-to-use place.
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-interaction">
                    <h6 class="title">Interactive Discussion</h6>
                    <p class="blurb">
                      Students and instructors can easily collaborate and communicate
                      during class with Grapefruit's live lecture chat module
                      or after hours in the discussion forum.
                    </p>
                </div>
            </div>
            <div class="four columns">
                <div class="item-block image-box">
                    <h6 class="title">Super Easy Assignment Upload</h6>
                    <p class="blurb">
                      Submissions for course assignments take thirty seconds to complete - just upload
                      any type of file(s), press a button, and you're done! Tries are versioned for easy re-submission.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
