<div id="why-grapefruit" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/grapefruit-logo2.svg"/>
            <h3 class="align-text-center title">Why Grapefruit?</h3>
            <p class="align-text-center blurb">
              Grapefruit is a simple, beautiful, and easy to use learning management system (LMS). Best of all,
              it is
              <a href="https://github.com/grapefruitdotlink/grapefruit" target="_blank">
                <strong>
                  100% free and open source
                </strong>
              </a>, which means anyone can use and modify it as they like.
            </p>
            <!--<a class="align-text-center learn-more" href="#instructors">LEARN MORE →</a>-->
        </div>
        <img class="macbook" src="images/gf-macbook-1.png"/>
    </div>
</div>
