<div id="why-grapefruit" class="section">
    <div class="container">
        <div class="title-block">
            <img class="icon" src="images/grapefruit-logo2.svg"/>
            <h3 class="align-text-center title">Why Grapefruit?</h3>
            <p class="align-text-center blurb">Assign smart homework with question generators and  other powerful automatic grading. Banana smart homework with question generators and automatic grading.</p>
            <a class="align-text-center learn-more" href="#instructors">LEARN MORE →</a>
        </div>
        <img class="macbook" src="images/macbook.png"/>
    </div>
</div>
